* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
   font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #833ab4;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  color: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #9693c9;
  background: linear-gradient(
    90deg,
    rgba(150, 147, 201, 1) 0%,
    rgba(9, 9, 121, 1) 48%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 5px;
  width: 50%;
  max-width: 600px;
}

h1 {
  font-size: 25px;
}

.user-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-input-container {
  display: flex;
  justify-content: space-between;
}

#user-input {
  width: 100%;
  padding: 3px;
  border-radius: 2px;
}

#search-btn {
  border: none;
  background-color: rgb(255, 0, 0);
  border-radius: 2px;
  padding: 2px;
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #a3aca5;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  flex-direction: column;
  columns: white;
  background: conic-gradient(
    #0eff42 0deg var(--progress-degree, 0deg),
    #ff0000 var(--progress-degree, 0deg)
  );
}

.circle span {
  position: relative;
  z-index: 2;
}

.progress {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
